@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    background: url('./images/header-bg01.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Jost';

    @media screen and (max-aspect-ratio:3/2) {
        background: white;
    }
}

.container-fluid.full
{
    padding: 0 !important;
}