@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-fluid.full
{
    padding: 0 !important;
}

.header-bg
{
    background: url('./images/header-bg04.jpg') no-repeat center;
    background-size: 100%;
    width: 100vw;
    height: 65vh;
}