.navbar-transparent
{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    font-family: 'Jost';

    .navbar-brand
    {
        transition: all .3s ease;
        &:hover
        {
            transform: translateY(-2px);
        }
    }
}